<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css" media="screen" />
    <link rel="stylesheet" href="../styles/style.css">
    <title>James Garinger - Web Developer</title>
</head>

<body>
    <nav id="navbar">
        <a href="#" id="logo">James G.</a>
        <button id="hamburger-menu" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-links" id="nav-links">
            <a href="#aboutSection">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>
    

    <section id="hero">
        <h1>Hey! I see you!</h1>
        <p>Thanks for checking out my website.</p>
        <button id="learn-more">Hire me!</button>
    </section>

    <section id="aboutSection">
        <div class="secondary-title-container">
            <h2 class="secondary-title">About Me</h2>
        </div>
        <div id="aboutSection-text">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi non enim similique velit minima iure atque quasi! 
                Libero sit commodi numquam sed non doloremque nihil distinctio temporibus eius corporis dolorem atque eos eaque, 
                et quam ex asperiores autem eum, quae eveniet accusantium amet? Laboriosam commodi iure, quaerat nesciunt sequi laudantium! 
            </p>
            <br />
            <br />
            <a id="lets-chat" href="mailto:jkggaringer@gmail.com" target="_blank">Let's Chat!</a>  

        </div>
    </section>

    <section id="projects">
        <div class="secondary-title-container">
            <h2 class="secondary-title">Projects</h2>
        </div>
        <!-- Sample project card -->
        <div id="projectCardsContainer">
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
        </div>
        
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Let's build something together! Reach out to me at <a
                href="mailto:jkggaringer@gmail.com">youremail@example.com</a>.</p>
    </section>

    <script src="../js/index.js"></script>
</body>

</html>