<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/reset.css" media="screen" />
    <link rel="stylesheet" href="../styles/style.css">
    <title>James Garinger - Web Developer</title>
</head>

<body>
    <nav id="navbar">
        <a href="#" id="logo">James G.</a>
        <button id="hamburger-menu" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="nav-links" id="nav-links">
            <a href="#aboutSection">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>


    <section id="hero">
        <h1>Hey! I see you!</h1>
        <p>Thanks for checking out my website.</p>
        <button id="learn-more">Hire me!</button>
    </section>

    <section id="aboutSection">
        <div class="secondary-title-container">
            <h2 class="secondary-title">About Me</h2>
            <div class="typewriter">
                <h5>Title: <span id="typed-text">Title: </span><span class="cursor">|</span></h5>
            </div>
        </div>
        <div id="aboutSection-text">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi non enim similique velit minima iure
                atque quasi!
                Libero sit commodi numquam sed non doloremque nihil distinctio temporibus eius corporis dolorem atque
                eos eaque,
                et quam ex asperiores autem eum, quae eveniet accusantium amet? Laboriosam commodi iure, quaerat
                nesciunt sequi laudantium!
            </p>
            <br />
            <br />
            <a id="lets-chat" href="mailto:jkggaringer@gmail.com" target="_blank">Let's Chat!</a>

        </div>
    </section>

    <section id="skills">
        <div class="secondary-title-container">
            <h2 class="secondary-title">Skills</h2>
        </div>
        <div id="skills-badge-container">
            <div class="skill buttonPop">
                <img src="../assets/skill_badges/react_badge.png" />
                <h4>React</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/html_badge.png" />
                <h4>HTML5</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/css_badge.png" />
                <h4>CSS</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/js_badge.png" />
                <h4>Javascript</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/python_badge.webp" />
                <h4>Python</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/sql_badge.webp" />
                <h4>SQL</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/mysql_badge.png" />
                <h4>MySQL</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/mongo_badge.png" />
                <h4>MongoDB</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/graphql_badge.png" />
                <h4>GraphQL</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/node_badge.svg" />
                <h4>NodeJS</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/expressjs_badge.jpeg" />
                <h4>ExpressJS</h4>
            </div>

            <div class="skill buttonPop">
                <img src="../assets/skill_badges/tailwindcss_badge.png" />
                <h4>Tailwind</h4>
            </div>
        </div>
    </section>

    <section id="projects">
        <div class="secondary-title-container">
            <h2 class="secondary-title">Projects</h2>
        </div>
        <!-- Sample project card -->
        <div id="projectCardsContainer">
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
            <div class="project-card">
                <img src="../assets/project_placeholder_image.png" alt="Project Name">
                <h3>Project Name</h3>
                <p>Short description of the project.</p>
                <button>More</button>
            </div>
        </div>

    </section>

    <section id="contact">
        <div class="secondary-title-container">
            <h2 class="secondary-title">Contact</h2>
        </div>
        <div id="contact-lists-container">
            <ul>
                <h3>Nav</h3>
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <li>
                    <a>Projects</a>
                </li>
                <li>
                    <a>Work</a>
                </li>
                <li>
                    <a>Skills</a>
                </li>
            </ul>
            <ul>
                <h3>Social</h3>
                <li>
                    <a>Linkedin</a>
                </li>
                <li>
                    <a>Twitter</a>
                </li>
                <li>
                    <a>Website</a>
                </li>
                <li>
                    <a>Work</a>
                </li>
                <li>
                    <a>E-Mail</a>
                </li>
            </ul>
            <ul>
                <h3>Hire Me</h3>
                <li>
                    <a>Freelance Site</a>
                </li>
                <li>
                    <a>Website Survey</a>
                </li>
                <li>
                    <a>Resume</a>
                </li>
            </ul>
        </div>    
    </section>
    <footer>
        <p>Let's build something together! Reach out to me at 
            <a id="mail-link" href="mailto:buildbettertech@proton.me">buildbettertech@proton.me</a>.
        </p>
        <p id="contact-trademark">Copyright <span>@JamesGaringer LLC</span>.</p>
    </footer>

    <script src="../js/index.js"></script>
</body>

</html>